<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/4dcd30869e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
        <div class="container">
          <a class="navbar-brand" href="/">Invoice System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link  <%- title == 'Invoice System' ? 'active' : '' %>" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%- title == 'Invoices' ? 'active' : '' %>" href="/invoice"><i class="fas fa-receipt"></i> Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%- title == 'Billing' ? 'active' : '' %>" href="/bill"><i class="fas fa-file-invoice-dollar"></i> Billing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%- title == 'Clients' ? 'active' : '' %>" href="/client"><i class="fas fa-user-friends"></i> Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%- title == 'Vehicles' ? 'active' : '' %>" href="/vehicle"><i class="fas fa-car"></i> Vehicles</a>
              </li>

        
            </ul>
           
          </div>
        </div>
      </nav>

      <main class="container">
