<%- include('../partials/header') %>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1><%- title %></h1>
        </div>
        <div>
            <a href='/invoice/create' class='btn btn-primary btn-lg'>New</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="searchForm" class="form" action="/invoice/details">
                <div class="form-group my-2 d-flex justify-content-end" >
                    <div class="ms-2" style="width:250px;">
                        <input class="form-control" type="number" min="0" placeholder="Invoice #" id="invoiceToSearch" required>       
                    </div>
                    <div class="ms-2">
                        <button type="submit" class="btn btn-info text-light ms-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date (YYYY-MM-DD)</th>
                        <th scope="col">Invoice #</th>
                        <th scope="col">Client</th>
                        <th scope="col">Sale Type</th>
                        <th scope="col">License</th>
                        <th scope="col">Purchase Order</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                            <% if(invoices.length > 0){ %>
                                <% invoices.forEach(invoice => {%>
                                    <tr>
                                        <td><%- invoice?.date %></td>
                                        <td><%- invoice?.number %></td>
                                        <td><%- invoice?.Client?.name %></td>
                                        <td><%- invoice?.saleType %></td>
                                        <td><%- invoice?.license %></td>
                                        <td><%- invoice?.purchaseOrder %></td>
                                        <td><%- invoice?.amount %></td>
                                        <td><a href="/invoice/details/<%- invoice?.number %>" class="btn btn-secondary">Details</a></td>
                                    </tr>
                                <% }) %>
                            <%}else{%>
                                <tr>
                                    <td colspan="9"><p class="text-center py-2 h6">No Invoices created yet...</p></td>
                                </tr>
                            <% } %>

                    </tbody>
                    <tfoot>
                        <% if (pages > 0) { %>
                          <tr>
                          <td colspan="7">  
                              <ul class="pagination text-center">
                            <% if (current == 1) { %>
                                <li class="disabled"><a>First</a></li>
                            <% } else { %>
                                <li><a href="/invoice?page=1&perPage=<%- curPerPage %>">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="active"><a><%= i %></a></li>
                                <% } else { %>
                                    <li><a href="/invoice?page=<%= i %>&perPage=<%- curPerPage %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="disabled"><a>Last</a></li>
                            <% } else { %>
                                <li><a href="/invoice?page=<%= pages %>&perPage=<%- curPerPage %>">Last</a></li>
                            <% } %>
                            <label id="perPageLabel" for="perPage">Items Per Page</label>
                            <select class="ms-1" id="perPage">
                                <option value="10" <%- curPerPage == 10 ? 'selected' : '' %>>10</option>
                                <option value="20" <%- curPerPage == 20 ? 'selected' : '' %>>20</option>
                                <option value="50" <%- curPerPage == 50 ? 'selected' : '' %>>50</option>
                                <option value="100" <%- curPerPage == 100 ? 'selected' : '' %>>100</option>
                            </select>
                        </ul>
                     
                        </td>
                          </tr>
                        <% } %>
                    </tfoot>
                  </table>
            </section>
        </div>
    </div>

    <script>
        const searchForm = document.getElementById("searchForm");
        const invoiceToSearch = document.getElementById("invoiceToSearch");
        searchForm.addEventListener("submit", function(e){
            const inv = invoiceToSearch.value;
            const getSubmitLink = searchForm.getAttribute("action");
            console.log(inv, getSubmitLink)
            searchForm.setAttribute("action", `${getSubmitLink}/${inv}`);
        
        });

        const perPage = document.getElementById("perPage");
        perPage.onchange = () => {
            const itemsPerPage = perPage.value;
            if(itemsPerPage == null || itemsPerPage == "") return;
            window.location.href = "/invoice?page=1&perPage="+itemsPerPage;
        }
    </script>

<%- include('../partials/footer') %>
