<%- include('../partials/header') %>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1><%- title %></h1>
        </div>
        <div>
            <a href='/invoice/create' class='btn btn-primary btn-lg'>New</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="searchForm" class="form" action="/invoice/details">
                <div class="form-group my-2 d-flex justify-content-end" >
                    <div class="ms-2" style="width:250px;">
                        <input class="form-control" type="number" min="0" placeholder="Invoice #" id="invoiceToSearch" required>       
                    </div>
                    <div class="ms-2">
                        <button type="submit" class="btn btn-info text-light ms-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date (YYYY-MM-DD)</th>
                        <th scope="col">Invoice #</th>
                        <th scope="col">Client</th>
                        <th scope="col">Sale Type</th>
                        <th scope="col">License</th>
                        <th scope="col">Purchase Order</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                            <% if(invoices.length > 0){ %>
                                <% invoices.forEach(invoice => {%>
                                    <tr>
                                        <td><%- invoice?.date %></td>
                                        <td><%- invoice?.number %></td>
                                        <td><%- invoice?.Client?.name %></td>
                                        <td><%- invoice?.saleType %></td>
                                        <td><%- invoice?.license %></td>
                                        <td><%- invoice?.purchaseOrder %></td>
                                        <td><%- invoice?.amount %></td>
                                        <td><a href="/invoice/details/<%- invoice?.number %>" class="btn btn-secondary">Details</a></td>
                                    </tr>
                                <% }) %>
                            <%}else{%>
                                <tr>
                                    <td colspan="9"><p class="text-center py-2 h6">No Invoices created yet...</p></td>
                                </tr>
                            <% } %>

                    </tbody>
                  </table>
            </section>
        </div>
    </div>

    <script>
        const searchForm = document.getElementById("searchForm");
        const invoiceToSearch = document.getElementById("invoiceToSearch");
        searchForm.addEventListener("submit", function(e){
            const inv = invoiceToSearch.value;
            const getSubmitLink = searchForm.getAttribute("action");
            console.log(inv, getSubmitLink)
            searchForm.setAttribute("action", `${getSubmitLink}/${inv}`);
        
        })
    </script>

<%- include('../partials/footer') %>
