<%- include('../partials/header') %>
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1><%- title %></h1>
    </div>
    <div>
        <a href='/client' class='btn btn-secondary btn-lg'>Back</a>
    </div>
</div>
<section>
    <p><strong>Name:</strong> <%- clientDetail.name %></p>
    <p><strong>Next Billing Invoice Number:</strong> <%- clientDetail.billingCounter %></p>
    <p><strong>Total Invoices:</strong> <%- numInvoices %></p>
    <p><strong>Approved Vehicles:</strong> <%- vehicles?.length %></p>
</section>
<hr class="my-4">
<h2 class="mb-3">Vehicles</h2>
<section>
    <% if(vehicles.length > 0){ %>
        <table class="table table-bordered">
            <thead>
              <tr>
           
                <th scope="col">License</th>
                <th scope="col">Type</th>
        
              </tr>
            </thead>
            <tbody>
        <% vehicles.forEach((v) => { %>    
            <tr>
           
                <td><%- v?.license %></td>
                <td><%- v?.type %></td>
              
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% }else{%>
        
        <p class="text-form">No Vehicles added for <%- clientDetail.name %>...</p>
        <p><a href='/vehicle/create'>Click here to create a Vehicle</a></p>
    <% }%>
</section>
<hr class="my-4">
<h2 class="mb-3">Bills</h2>
<section>
    <% if(clientBills.length > 0){ %>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Month</th>
                <th scope="col">Year</th>
                <th scope="col">Amount</th>
                <th scope="col">Paid?</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
        <% clientBills.forEach((b) => { %>    
            <tr>
           
                <td><%- b?.number %></td>
                <td><%- b?.month %></td>
                <td><%- b?.year %></td>
                <td><%- b?.amount %></td>
                <td><%- b?.isPaid ? 'Yes' : 'No' %></td>
                <td><a href="<%- `/bill/details/${b?.id}` %>">View</a></td>

              
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% }%>
 
</section>
<hr class="my-4">

<section>
    <div class="d-flex justify-content-end align-items-center">
        <a href='/client/edit/<%- clientDetail?.id %>' class='btn btn-warning ms-2'>Edit</a>
   
            <form action="/client/delete/<%- clientDetail.id %>" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger ms-2"
                  onclick="return confirm('Are you sure you want to delete <%- clientDetail.name %>?')"
                />
              </form>
        
    </div>
</section>

<%- include('../partials/footer') %>

