<%- include('../partials/header') %>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1><%- title %></h1>
        </div>
        <div>
            <a href='/client/create' class='btn btn-primary btn-lg'>New</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Next Billing No.</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                            <% if(clients.length > 0){ %>
                                <% clients.forEach(client => {%>
                                    <tr>
                                        <th scope="row"><%- client?.id %></th>
                                        <td><%- client?.name %></td>
                                        <td><%- client?.billingCounter %></td>
                                        <td><a href="/client/details/<%- client?.id %>" class="btn btn-secondary">Details</a></td>
                                    </tr>
                                <% }) %>
                            <%}else{%>
                                <tr>
                                    <td colspan="4"><p class="text-center py-2 h6">No Clients created yet...</p></td>
                                </tr>
                            <% } %>

                    </tbody>
                  </table>
            </section>
        </div>
    </div>

<%- include('../partials/footer') %>
