<%- include('../partials/header') %>
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1><%- title %></h1>
    </div>
    <div>
        <a href='/bill' class='btn btn-secondary btn-lg'>Back</a>
    </div>
</div>
<section>
    <p><strong>Date:</strong> <%- dateIssued %></p>
    <p><strong>Client:</strong> <%- bill?.Client?.name %></p>
    
    <p><strong>Bill #:</strong> <%- bill.number %></p>
    <p><strong>Bill Month:</strong> <%- bill.month %></p>
    <p><strong>Bill Year:</strong> <%- bill.year %></p>
    
</section>
<hr class="my-4">
<h2 class="mb-3">Approved Vehicles</h2>
<section>
    <% if(vehicles.length > 0){ %>
        <table class="table table-bordered">
            <thead>
              <tr>
           
                <th scope="col">License</th>
                <th scope="col">Type</th>
        
              </tr>
            </thead>
            <tbody>
        <% vehicles.forEach((v) => { %>    
            <tr>
           
                <td><%- v?.license %></td>
                <td><%- v?.type %></td>
              
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% }%>
        
</section>
<hr class="my-4">
<h2 class="mb-3">Invoices</h2>
<section>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date (YYYY-MM-DD)</th>
                <th scope="col">Invoice #</th>
                <th scope="col">Sale Type</th>
                <th scope="col">License</th>
                <th scope="col">Purchase Order</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
                <% invoices.forEach(invoice => {%>
                    <tr>
                        <td><%- invoice?.date %></td>
                        <td><%- invoice?.number %></td>
                        <td><%- invoice?.saleType %></td>
                        <td><%- invoice?.license %></td>
                        <td><%- invoice?.purchaseOrder %></td>
                        <td><%- invoice?.amount %></td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
    </table>

</section>
<section>
    <div class="d-flex justify-content-end align-items-center">
        <%
            let total = invoices.reduce((sum, invoice) => {
                return sum + invoice.amount;
            }, 0)
        %>
            <h3>Total: $<%- total.toFixed(2); %></h3>
        
    </div>
</section>
<hr class="my-4">
<section>
    <div class="d-flex justify-content-end align-items-center">
       
            <form action="/bill/delete/<%- bill.id %>" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger ms-2"
                  onclick="return confirm(`Are you sure you want to delete Bill #<%- bill?.number %> for <%- bill?.Client?.name %>?`)"
                />
              </form>
        
    </div>
</section>

<%- include('../partials/footer') %>

