<%- include('../partials/header') %>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1><%- title %></h1>
        </div>
        <div>
            <a href='/bill/create' class='btn btn-primary btn-lg'>New</a>
        </div>
    </div>
    <div class="my-3">
        <form action="/bill/find" method="POST" class="form d-flex justify-content-end align-items-center">
            <div class="ms-2 mb-3">
                <label for="clientId" class="form-label">Client</label>
                <select name="clientId" id="clientId" class="form-select" required>
                    <% 
                        clients.forEach((client) => {
                            %><option value="<%= client?.id %>"><%= client?.name %></option><%
                        });
                    %>
                </select>
            </div>
            <div class="ms-2 mb-3">
                <label for="month" class="form-label">Month</label>
                <select class="form-select" id="month" name="month" required>
                    <%
          
                    var options = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    for ( var i = 0; i < options.length; i++ )
                    {
                        %><option value="<%=options[ i ] %>" ><%=options[i] %></option><%
                    }
        
                    %>
        
                  </select>
            </div>
            <div class="ms-2 mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="number"  class="form-control" id="year" min="0" name="year" required>
            </div>        
            <div class="ms-2 mb-3 pt-3">
                <button type="submit" class="btn btn-info text-light">Search Bill</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <section>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Client</th>
                        <th scope="col">Bill #</th>
                        <th scope="col">Month</th>
                        <th scope="col">Year</th>                    
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                            <% if(bills.length > 0){ %>
                                <% bills.forEach(bill => {%>
                                    <tr>
                                        <td><%- bill?.id %></td>
                                        <td><%- bill?.Client?.name %></td>
                                        <td><%- bill?.number %></td>
                                        <td><%- bill?.month %></td>
                                        <td><%- bill?.year %></td>

                                        <td><a href="/bill/details/<%- bill?.id %>" class="btn btn-secondary">Details</a></td>
                                    </tr>
                                <% }) %>
                            <%}else{%>
                                <tr>
                                    <td colspan="6"><p class="text-center py-2 h6">No Bills created yet...</p></td>
                                </tr>
                            <% } %>

                    </tbody>
                  </table>
            </section>
        </div>
    </div>

<%- include('../partials/footer') %>
